.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: var(--nav-height);

}

.home__bg {
  position: absolute;
  inset: 0;
  /* background-image:
    linear-gradient(#cc53270a 1px, transparent 1px),
    linear-gradient(90deg, #581b0525 1px, transparent 1px); */
  background-image:
    linear-gradient(#ff8a5f0a 1px, transparent 1px),
    linear-gradient(90deg, #83290925 1px, transparent 1px);
  background-size: 90px 90px;
  z-index: 0;
}

.home__bg::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-105%, -104%);
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, #cc532779 0%, transparent 60%);
  pointer-events: none;
}
.home__bg-2::after {
  content: '';
  position: absolute;
  top: 90%;
  left: 100%;
  transform: translate(-80%, -50%);
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, #cc53272c 0%, transparent 70%);
  pointer-events: none;
}

.home__content {
  position: relative;
  z-index: 1;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
}

.home__greeting {
  font-family: var(--font-display);
  font-size: 15px;
  font-weight: 500;
  color: var(--orange);
  letter-spacing: 2px;
  margin-bottom: 20px;
  animation: fadeUp 0.6s ease both;
  animation-delay: 0.1s;
}

.home__name {
  font-family: var(--font-display);
  font-size: clamp(52px, 8vw, 82px);
  font-weight: 500;
  color: var(--text-primary);
  line-height: 1.2;
  margin-bottom: 10px;
  animation: fadeUp 0.6s ease both;
  animation-delay: 0.2s;
}

.home__name .cursor {
  color: var(--orange);
  animation: blink 1s step-end infinite;
}

.home__role {
  font-family: var(--font-display);
  font-size: clamp(22px, 3.5vw, 38px);
  font-weight: 500;
  color: var(--text-secondary);
  margin-bottom: 28px;
  animation: fadeUp 0.6s ease both;
  animation-delay: 0.3s;
}

.home__role span {
  color: var(--orange);
}

.home__tagline {
  font-family: var(--font-body);
  font-size: 17px;
  font-weight: 400;
  color: var(--text-secondary);
  max-width: 500px;
  line-height: 1.8;
  margin-bottom: 44px;
  animation: fadeUp 0.6s ease both;
  animation-delay: 0.4s;
}

.home__buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  animation: fadeUp 0.6s ease both;
  animation-delay: 0.5s;
}

.home__scroll {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  animation: fadeIn 1s ease both;
  animation-delay: 1s;
  cursor: pointer;
}

.home__scroll span {
  font-family: var(--font-display);
  font-size: 11px;
  color: var(--text-muted);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home__scroll-line {
  width: 1px;
  height: 52px;
  background: linear-gradient(to bottom, var(--accent), transparent);
  animation: scrollDown 1.6s ease-in-out infinite;
}

@keyframes scrollDown {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 1;
  }

  50% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }

  100% {
    transform: scaleY(1);
    transform-origin: bottom;
    opacity: 0;
  }
}

.home__stack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 36px;
  animation: fadeUp 0.6s ease both;
  animation-delay: 0.45s;
}

.home__stack-pill {
  font-family: var(--font-display);
  font-size: 12px;
  color: #d3d3d3;
  background: #161616;
  border: 1px solid #788b8733;
  padding: 5px 12px;
  border-radius: 5px;
  letter-spacing: 0.3px;
}

@media (max-width: 768px) {
  .home__content {
    padding: 0 20px;
  }

  .home__buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .home__buttons .btn-primary,
  .home__buttons .btn-secondary {
    width: 100%;
    justify-content: center;
  }
}